<head>
    <style>
    </style>
    <link rel="icon" href="static/img/bose_logo.png">
    <link href="static/style.css" rel="stylesheet">
    <title>Borino Stock Exchange</title>
</head>
<body>

<div class="header">
    <a href="#default" style="height: 15vh; border:0;padding: 0;padding-right:1vw" class="logo"><img  style="height: inherit; top:0" src="static/bose_logo.png"></a>
    <div class="header-right">
        <a  href="/">Home</a>
        <a href="#Bo-SE">Bo-SE</a>
        <a href="#about">Chi siamo</a>
        <a class="active" href="/contacts">Contatti</a>
        <a href="/find_us">Find Us</a>
    </div>
    <div class="bus">
        <!-- Da gestire poi con api e handlebars-->
        {{#each index}}
            <span>
            ${{stop_name}}
                {{#if in_time}}
                    <span style="color: green"><b>▲ on time at {{stop_time}}</b></span>
                {{/if}}
                {{#unless in_time}}
                    <span style="color: red"><b>▼ {{time_delta}} min late at {{stop_time}}</b></span>
                {{/unless}}
        </span>
        {{/each}}
    </div>
</div>

<div class="center" style="">
    <h1 class="title" style="font-size: 3em">Contact us directly!</h1>
    <div class="personal contacts">
        {{#each contacts}}
            <label class = "sub-title" for="">Name</label>: <b><span class = "sub-title">{{name}}</span><br></b>
            <label class = "sub-title" for="">Email</label>: <b><span class = "sub-title">{{email}}</span></b>
            <hr>
        {{/each}}
        <br>
    </div>
    <div class="send_message">
        <h1 class="title" style="font-size: 3em"> Or leave us a message {{task.description}}</h1>
        <form id="myForm" method="post">
            <input name="description" type="text" />
            <input type="submit" value="submit" />
        </form>
    </div>
</div>
</body>
