<head>
    <style>
    </style>
    <link rel="icon" href="static/img/bose_logo.png">
    <link href="static/style.css" rel="stylesheet">
    <title>Borino Stock Exchange</title>
</head>
<body>

<div class="header">
    <a href="#default" style="height: 15vh; border:0;padding: 0;padding-right:1vw" class="logo"><img  style="height: inherit; top:0" src="static/bose_logo.png"></a>
    <div class="header-right">
        <a  href="/">Home</a>
        <a href="#Bo-SE">Bo-SE</a>
        <a href="#about">Chi siamo</a>
        <a class="active" href="/contacts">Contatti</a>
        <a href="/find_us">Find Us</a>
    </div>
    <div class="bus">
        <!-- Da gestire poi con api e handlebars-->
        {{#each index}}
            <span>
            ${{stop_name}}
                {{#if in_time}}
                    <span style="color: green"><b>▲ on time at {{stop_time}}</b></span>
                {{/if}}
                {{#unless in_time}}
                    <span style="color: red"><b>▼ {{time_delta}} min late at {{stop_time}}</b></span>
                {{/unless}}
        </span>
        {{/each}}
    </div>
</div>

<div class="bus">
    <!-- Da gestire poi con api e handlebars-->
    <span class="buscontent">$PVVLN<span style="color: red">▼ 5 min ritardo</span> $PVSL<span style="color: green">▲ in orario</span></span>
</div>

<div class="left-side">
    <img src="/static/bose_logo.png" alt="scemo chi legge" width="40em" height="400em">
</div>
<div class="right-side">
    <h1 class="title" >Nobody cares about our contact infos!</h1>
    <h2 class="">And so here they are!</h2>
    {{#each contacts}}
        <label for="">Name</label>: <b><span>{{name}}</span><br></b>
        <label for="">Email</label>: <b><span>{{email}}</span></b>
        <hr>
    {{/each}}
    <p class="sub-title">Hello {{name}} {{surname}}😊</p>
</div>
</body>
