<head>
    <style>

    </style>

    <link href="static/style.css" rel="stylesheet">
    <title></title>
</head>
<body>

<ul class="menu">
    <li><a class="active" href="">Home</a></li>
    <li><a href="">Bo-SE</a></li>
    <li><a href="">Chi siamo</a></li>
    <li><a href="/contacts">Contatti</a></li>
</ul>
<div class="background">
    <div class="bus">
        <!-- Da gestire poi con api e handlebars-->
        {{#each busses}}
            <span>
            ${{stop_name}}
                {{#if in_time}}
                        <span style="color: green"><b>▲ on time at {{stop_time}}</b></span>
                {{/if}}
                {{#unless in_time}}
                    <span style="color: red"><b>▼ {{time_delta}} min late at {{stop_time}}</b></span>
                {{/unless}}
        </span>
        {{/each}}
    </div>
</div>


<div class="left-side">
    <h1 class="title">This web app was built with RUST</h1>
    <p class="sub-title">Hello {{name}} {{surname}}😊</p>
</div>
<div class="right-side">
        <div class="round-image">
        <p class="sub-title">Try add "contactUs"!</p>
    </div>
</div>
</body>